.App {
  text-align: center;
}

.stdt-home-titlebar{
  display: flex;
  width: 100%;
  height: 60px;
  background-color: darkgray;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  
}
.stdt-home-titlebar>header{
  font-size: medium;
}

.stdt-home-main-sec{
  display: flex;
  justify-content: space-evenly;
}
.stdt-home-sub-sec{
  width: 35%;
}

.stdt-home-input{
  display: inline-flex;
  flex-direction: row;
  margin: 25px;

}

.stdt-home-input>.form-control{
  width: 200px;
  margin-left: 10px;
}

tr{
  display: flex;
}

table,th,td{
  border: 1px solid;
  border-collapse: collapse;
  text-align: left;
}

table{
  margin-top: 5%;
  width: 40vw; 
}

td,th{
  padding-left: 5%;
}

.stdt-des{
  width: 30vw;
}

.stdt-img{
  width: 10vw;
}


#stdt-home-submit{
  margin-right: 30px;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 9px;
  background-color: aqua;
}

#stdt-home-clear{
  width: 100px;
  border: none;
  outline: none;
  border-radius: 9px;
  background-color: rgb(247, 111, 101)
}